.md-typeset .language-text .filename,
.md-typeset .language-text pre .md-code__nav,
.md-typeset .language-text pre code {
    background-color: white !important;
}

.md-typeset .language-text pre code {
    /*font-size: 75% !important;*/
    /*color: #e3f2fd !important;*/
}

.md-typeset .language-text .filename {
  display: none !important;
}
